@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    background: #111111;
    color: #f6f6f6;
    letter-spacing: 0.025em;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
}
h1 span, h2 span, h3 span {
    color: #ffab11;
    text-transform: none;
} 

h2 {
    text-transform: capitalize;
    letter-spacing: 0.025em;
    font-size: clamp(2rem, 1.8125rem + 0.75vw, 2.6rem);
}

a {
    color: #f6f6f6;
    text-decoration: none;
}

a:hover {
    color: #ffab11;
}

li {
    list-style: none;
}

.container {
    padding: 0 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .container {
        padding: 0 70px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding: 0 35px;
    }
}
@media screen and (max-width: 425px) {
    .container {
        padding: 0 17px;
    }
}

/* ************ Navigation ********** */
nav {
    width: 100%;
    background: #212121;
    position: absolute;
}
.navigation {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand img {
    display: none;
    width: 50px;
    height: 50px;
    border: solid 2px #ffab11;
    border-radius: 50%;
}

.brand p {
    width: 125px;
    color: #ffab11;
    font-size: 35px;
}

.brand p span {
    color: #f6f6f6;
}

.links {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.links ul {
    width: 100%;
    height: 100%;
    column-gap: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.links ul li a {
    font-size: 15px;
}

.links ul li a:hover {
    color: #ffab11;
    font-size: 20px;
} 

.burger {
    display: none;
}
.burger a {
    font-size: 30px;
}

@media screen and (max-width: 767px) {
    .links {
        display: none;
    }
    .burger {
        display: block;
    }
    .brand p {
        display: none;
    }
    .brand img {
        display: block;
    }
}

/* ************** Header ************* */

header {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

header .container {
    width: 100%;
    padding: 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profil img {
    width: 300px;
    border-radius: 20px;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
}

.bg1 {
    width: 250px;
    height: 50px;
    background-color: #212121;
    position: absolute;
    z-index: 2;
}
.bg2 {
    background-color: #ffab11;
    width: 250px;
    height: 430px;
    position: absolute;
    z-index: 0;
}

.title-description {
    padding-top: 100px;
    width: 425px;
    min-width: 320px;
    height: 100%;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #f6f6f6;
    font-size: clamp(1.5rem, 1.8125rem + 0.75vw, 2rem);
}

h1 #name {
    display: flex;
    align-items: center;
    color: #ffab11;
}

#name hr {
    border: none;
    background: #ffab11;
    margin-right: 10px;
    width: 15px;
    height: 3px;
}

.title-description p {
    width: 350px;
    text-align: justify;
    color: #f6f6f6;
}

@media screen and (max-width: 767px) {
    .profil {
        display: none;
    }
}
@media screen and (max-width: 375px) {
    .title-description p {
        width: 280px;
    }
    h1 #name span {
        display: none;
    }
    h1 #name {
        justify-content: center;
    }
    #name hr {
        display: none;
    }
}

/* ********* Information personnel ********* */
#info-perso {
    width: 100%;
    height: fit-content;
}

.info-perso-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* row-gap: 40px; */
}

#info-perso .title {
    height: 80px;
}

.info-perso {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

@media screen and (max-width: 769px) {
    .info-perso {
        flex-wrap: wrap;
    }
}

.info-content {
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    line-height: 30px;
}

.mes-infos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mes-infos p span {
    font-size: 15px;
    color: #8f8d8d;
}
 

@media screen and (max-width: 768px) {
    .info-perso {
        justify-content: center;
    }
    .cv a {
        display: flex;
        justify-content: center;
        width: 300px;
    }
}

/* ************* Compétences *********** */
#skills .container {
    row-gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#skills h2 {
    margin-top: 30px;
    position: relative;
    text-align: center;
    color: #f3f3f3;
    z-index: 2;
}

#skills {
    width: 100%;
}

.skills {
    width: 100%;
}

.skills .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
}

/* ************* Services ************** */
#services {
    width: 100%;
    height: fit-content;
    margin: 32px 0;
}

#services .container {
    flex-direction: column;
    width: 100%;
}

.services-content {
    width: 100%;
    margin-top: 24px;
}

.services-categories {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.services-categories .categorie {
    border: 1px solid #ffab11;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.portfolio {
    margin-top: 32px;
    padding: 16px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.portfolio-content {
    width: 100%;
    height: 350px;
    position: relative;
}

.portfolio-content .image {
    width: 100%;
    height: 320px;
    position: absolute;
    top: 20px;
    left: 40px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}


.portfolio-content .image img {
    height: 300px;
    width: 150px;
    border-radius: 5px;
}

#port-1 {
    position: absolute;
    top: 0;
    left: -60px;
    transform: rotate(-30deg);
    z-index: 0;
}
#port-2 {
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 1;
}
#port-3 {
    position: absolute;
    top: 0;
    left: 170px;
    transform: rotate(30deg);
    z-index: 0  ;
}

.portfolio-content .description {
    width: 500px;
    height: 100%;
    padding: 32px;
    position: absolute;
    right: 20px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 3;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.portfolio-content .description p {
    text-align: justify;
}

@media screen and (max-width: 1020px) {
    #port-1 {
        transform: rotate(-15deg);
        left: -30px;
    }
    #port-2 {
        left: 30px;
    }
    #port-3 {
        left: 85px;
        transform: rotate(15deg);
    }
}

@media screen and (max-width: 767px) {
    .portfolio-content .image {
        display: none;
    }
    .portfolio-content .description {
        width: 100%;
        right: 0;
        position: relative;
        padding: 32px 16px;
    }
    .portfolio-content {
        height: fit-content;
    }
}


/* *********** projets *************** */

#projets {
    width: 100%;
    height: fit-content;
    margin: 30px 0;
    position: relative;
}
#projets .container {
    flex-direction: column;
    width: 100%;
}

#projets .projet-contents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    margin-top: 30px;
}


.info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.info-projet {
    color: #ffffff;
    row-gap: 25px;
    width: 100%;
    margin: 50px 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .projects {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 425px) {
    .project {
        height: 200px;
    }
}

/* ********** Footer ************* */

footer {
    margin-top: 30px;
    width: 100%;
}

footer .content {
    width: 100%;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: center;
    /* flex-wrap: wrap; */
    height: fit-content;
}
.footer-content .contact {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.coordonnees h3 {
    padding: 10px;
}

.coordonnees {
    padding: 10px 0;
}

.mes-coordonnees p {
    padding: 10px 0;
}
.mes-coordonnees p i {
    color: #ffab11;
    font-size: x-large;
}

.mes-coordonnees p span {
    margin-right: 10px;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    background-color: #0b0c10;
}

.copyright .copywrite p {
    color: #eee;
    font-size: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 2px 10px;
    text-align: center;
}
.copyright .copywrite p span {
    color: #ffab11;
}

.copyright a:hover {
    font-size: 0.5rem;
}