.primary-button,.primary-button::after {
    padding: 5px 50px;
    font-size: 20px;
    border: solid 2px rgba(255, 172, 17, 0.151);
    border-radius: 50px;
    color: white;
    background-color: transparent;
    position: relative;
  }
  
  .primary-button::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'ANTONIN';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  
  .primary-button:hover::after {
    animation: primary 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #ffab11, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid #ffab11;
  }
  
  .primary-button:hover {
    cursor: pointer;
    text-shadow: -1px -1px 0px #ffab11, 1px 1px 0px #E94BE8;
  }
  
  .primary-button:hover {
    background-color: transparent;
    border: 1px solid #ffab11;
    box-shadow: 0px 10px 10px -10px #ffab11;
  }
  
  @keyframes primary {
    0% {
      clip-path: var(--move1);
      transform: translate(0px,-10px);
    }
  
    10% {
      clip-path: var(--move2);
      transform: translate(-10px,10px);
    }
  
    20% {
      clip-path: var(--move3);
      transform: translate(10px,0px);
    }
  
    30% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    40% {
      clip-path: var(--move5);
      transform: translate(10px,-10px);
    }
  
    50% {
      clip-path: var(--move6);
      transform: translate(-10px,10px);
    }
  
    60% {
      clip-path: var(--move1);
      transform: translate(10px,-10px);
    }
  
    70% {
      clip-path: var(--move3);
      transform: translate(-10px,10px);
    }
  
    80% {
      clip-path: var(--move2);
      transform: translate(10px,-10px);
    }
  
    90% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  }

  .download-button {
    margin-bottom: 50px;
    position: relative;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    z-index: 1;
  }
  
  .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    z-index: 1;
    background-color: #111111;
    border: solid 1px #ffab11;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .download {
    cursor: pointer;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #ffac11;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .download-button:hover .download {
    transform: translateY(100%);
  }
  
  .download svg polyline,
  .download svg line {
    animation: docs 1s infinite;
  }
  
  @keyframes docs {
    0% {
      transform: translateY(0%);
    }
  
    50% {
      transform: translateY(-15%);
    }
  
    100% {
      transform: translateY(0%);
    }
  }

  .btn-github {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    border: none;
  
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 100px;
    font-weight: 800;
    place-content: center;
  
    padding: 0.75rem 1rem;
    font-size: 0.825rem;
    line-height: 1rem;
  
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow:
      inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
      inset 0 0 0 1px rgba(255, 255, 255, 0.04);
    color: #fff;
  }
  
  .btn-github:hover {
    box-shadow:
      inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
      inset 0 0 0 1px rgba(252, 232, 3, 0.08);
    color: #ffac11;
    transform: translate(0, -0.25rem);
    background-color: rgba(0, 0, 0, 0.5);
    border: #ffab11 1px solid;
  }